In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in the old sampling data from 2010 to 2015
old=pd.read_csv('Data/full_contaminants.csv')

C:\Users\leowe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
old.head()

   utilityid contaminant_name        date           labid value
0  NH2512010           Diquat  2010-03-24       103-407-1    ND
1  NH2512010        Endothall  2010-03-24       103-407-1    ND
2  NH2512010           Endrin  2010-03-24       103-407-1    ND
3  NH2512010           Endrin  2012-03-07  1203-00137-001    ND
4  NH2512010           Endrin  2012-10-10  1210-00312-001    ND

In [4]:
# Read in the new sampling data from 2012 to 2017
new=pd.read_csv('Data/EWG_Samples_2012-17.csv')

In [5]:
new.head()

,utilityid,contaminant_name,date,labid,value,year,state
0,CA4900521,Bromochloromethane,2013-03-13,1610-003-0930,ND,2013,CA
1,TX1280007,"cis-1,3-Dichloropropene",2016-03-07,AD27266,ND,2016,TX
2,TX1280007,"cis-1,3-Dichloropropene",2017-03-16,AD75456,ND,2017,TX
3,MO4021310,Ethylene dibromide,2013-06-12,AC02082,ND,2013,MO
4,LA1101004,Bromomethane,2012-10-01,AD71062,ND,2012,LA

In [6]:
new.shape

(34987049, 7)

In [12]:
old.shape

(29149047, 6)

In [ ]:
# Compare the number of rows in the overlapping years 2012 to 2015
print(new[new['year'] < 2016].shape)
old['year']=old['date'].str.extract(r'(\d{4})\S*').astype(int)
print(old[old['year'].astype(int) > 2011].shape)

In [18]:
# Since the new dataset has more data in the overlapping years, we will take it from the new dataset
oldmerge = old[old['year'] < 2012]

In [20]:
# Extract state info from utility id
oldmerge['state'] = oldmerge['utilityid'].str.extract(r'(\w{2})\d*')

C:\Users\leowe\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
oldmerge.head()

   utilityid contaminant_name        date      labid value  year state
0  NH2512010           Diquat  2010-03-24  103-407-1    ND  2010    NH
1  NH2512010        Endothall  2010-03-24  103-407-1    ND  2010    NH
2  NH2512010           Endrin  2010-03-24  103-407-1    ND  2010    NH
6  NH2512010  Endrin aldehyde  2010-03-24  103-407-1    ND  2010    NH
7  NH2512010      Ethyl ether  2010-03-24    8753301    ND  2010    NH

In [24]:
new.head()

,utilityid,contaminant_name,date,labid,value,year,state
0,CA4900521,Bromochloromethane,2013-03-13,1610-003-0930,ND,2013,CA
1,TX1280007,"cis-1,3-Dichloropropene",2016-03-07,AD27266,ND,2016,TX
2,TX1280007,"cis-1,3-Dichloropropene",2017-03-16,AD75456,ND,2017,TX
3,MO4021310,Ethylene dibromide,2013-06-12,AC02082,ND,2013,MO
4,LA1101004,Bromomethane,2012-10-01,AD71062,ND,2012,LA

In [26]:
# Combine the dataset and save it
pd.concat([oldmerge,new]).to_csv('Data/EWG_2010_2017.csv',index=False)